<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825215489036-mvj1qf8k3can55poc50je4i8848opjs3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825215489036-mvj1qf8k3can55poc50je4i8848opjs3</string>
	<key>API_KEY</key>
	<string>AIzaSyDZtUBI_z9cOgD6ek2LXJ3VXi6TtccjQJc</string>
	<key>GCM_SENDER_ID</key>
	<string>825215489036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mafqood.mafqood</string>
	<key>PROJECT_ID</key>
	<string>mafqood-1362d</string>
	<key>STORAGE_BUCKET</key>
	<string>mafqood-1362d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825215489036:ios:a3afe526fece4967c84a29</string>
</dict>
</plist>